@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --blue:  #015AEB;
  --brown:  #AB8433;
  --orange:  #EBA10C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --blue: #015AEB;
    --brown: #AB8433;
    --orange: #EBA10C;
  }
}

body {
  background: var(--background);
  color: #000000;
  font-family: Noto Serif, Roboto, sans-serif;
}
